@font-face {
    font-family: 'calgary';
    src: URL('assets/Calgary_DEMO.ttf') format('truetype');
  }

:root {
    --text: #432616;
    --background: hsl(0, 0%, 100%);

    --bg-primary: #2E4412;
    --bg-secondary: #f6c500;
    --bg-accent: #d4d6d0;
    --bg-cta: #f78c56;
    --bg-cta-200: #f9ebcd;
    --bg-accent-secondary: #432616;


    --font-family-heading: 'roboto', sans-serif;
    --font-family-heading-other: 'archivo', sans-serif;
    --font-family-body: 'archivo', sans-serif;

    --font-weight-thin: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-300: 0.750rem; /* 12px */
    --font-size-400: 1rem;  /* 16px */
    --font-size-500: 1.333rem; /* 21.28px */
    --font-size-600: 1.777rem; /* 28.48px */
    --font-size-700: 2.369rem; /* 37.92px */
    --font-size-800: 3.158rem; /* 50.56px */
    --font-size-900: 4.210rem; /* 67.36px */
}

html {
    font-size: 100%;  /* 16px */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-regular);
    background-color: var(--background);
}

main {
    margin-bottom: 5em;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-family-heading-other);
    font-weight: var(--font-weight-regular);

  }

h1, h2 {
    line-height: 1.2;
    text-align: center;
    margin: 0;

}

h1 {
    font-size: var(--font-size-900);
    font-family: calgary;
    font-weight: var(--font-weight-bold);
    color: var(--text);
}

h2 {
    font-size: var(--font-size-800); 
    text-decoration: underline;
}

h3 {
    font-size: var(--font-size-700);
}

h4 {
    font-size: var(--font-size-600); 
    text-align: center;
}

h5 {
    font-size: var(--font-size-500); 
    color: var(--text);
}

small {
    font-size: var(--font-size-300); 
}

p {
    line-height: 1.6;

}

header {
    background-color: var(--background);
    border-bottom:solid var(--text);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.mobile-nav-toggle {
    display: none;
}


.main-header {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 50px 0 50px;

}

.brand-label {
    display: flex;
    align-items:center;
    gap: .5em;
}

.brand-label p {
    font-size: var(--font-size-600);
}

.logo-container {
    height: 50px;
}

.reliance-logo {
    height: 100%;
}

.logo-label {
    font-family: calgary;
    font-weight: var(--font-weight-bold);
}

.navigation-list {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.navigation-list li a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-list li a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.hero-section {
    min-height: 80vh;
    background-color: var(--bg-cta-200);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:solid var(--text);
}

.hero-image {
    max-width: 500px;
    border-radius: 1em;
    overflow: hidden;
    margin: 2em;
}

.image {
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.page-hero {
    height: 40vh;
    background-image: url(assets/IMG_0072-2.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid var(--text);
}

.button {
    background-color: var(--bg-secondary);
    font-family: var(--font-family-heading-other);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-500); 
    border: none;
    text-align: center;
    padding: .7em;
    text-decoration: none;
    color: var(--text);
    border-radius: 1.2em;
    margin: .2em;
}

.button-2 {
    background-color: var(--bg-cta);
    font-family: var(--font-family-heading-other);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-500); 
    border: none;
    text-align: center;
    padding: .7em;
    text-decoration: none;
    color: var(--text);
    border-radius: 1.2em;
    margin: .2em;
}

.button:hover, .button:focus-visible, .button-2:hover, .button-2:focus-visible  {
    background-color: var();
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 1em;
}


  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .about-image {
    width: 500px;
    overflow: hidden;
    border-radius: 1em;
  }


  .service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .service-image {
    width: 500px;
    overflow: hidden;
    border-radius: 1em;
  }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    align-items: center;

}

.card {
    width: 350px;
}
  
.card-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 1em;
}


  .cta-section {
    align-items: center; 
    text-align: center;   

  }

  .services-section {
    background-color: var(--bg-cta-200);
  }

footer {
    background-color: var(--bg-accent);
    margin: 0;
    bottom: 0;
    min-height: 10rem; 
    width: 100%;
}

.footer-content {
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-sitemap {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer-nav {
    list-style-type: none;
    text-align: left;
}

.footer-nav li a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;

}

.footer-nav li a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.footer-legal {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer-legal a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

.footer-legal a:hover {
    color: black;
    border-bottom: 1px solid black;
}

.footer-social {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
}

/* MOBILE MEDIA QUERIES */
@media (max-width:31.25em) {
    :root {
        --font-size-300: 1rem; /* 16.00px */
        --font-size-400: 1.125rem;  /* 18.00px */
        --font-size-500: 1.266rem; /* 20.25px */
        --font-size-600: 1.424rem; /* 22.78px */
        --font-size-700: 1.602rem; /* 35.63px */
        --font-size-800: 1.802rem; /* 28.83px */
        --font-size-900: 2.027rem; /* 32.44px */
    }
}	

@media (max-width:50em) and (min-width:31.25em) {
    :root {
        --font-size-300: 0.8rem; /* 12.80px */
        --font-size-400: 1rem;  /* 16px */
        --font-size-500: 1.25rem; /* 20.00px */
        --font-size-600: 1.563rem; /* 25.00px */
        --font-size-700: 1.953rem; /* 31.25px */
        --font-size-800: 2.441rem; /* 39.06px */
        --font-size-900: 3.052rem; /* 48.83px */
    }
} 


@media (max-width:50em) {
    .primary-navigation {
        display: none;
        text-align: center;
        position: fixed;
        padding: 1rem;
        inset: 4rem 0 auto;
        margin: auto;
        background-color: var(--background);
        border-radius: 10px;
        box-shadow: 0 0 0.75em rgb(0,0,0,0.05);
        z-index: 999;
    }

    /* .primary-navigation::before {
        content: "";
        position: fixed;
        inset: 0;
        background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    } */

    .primary-navigation[data-visible] {
        display: block;
    }

    .navigation-list {
        display: grid;
        gap: 1rem;
        text-align: center;
    }
    
    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
    }

    .mobile-nav-toggle .icon-close {
        display: none;
    }

    .footer-nav {
        text-align: center;
    }
}